@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
}

body{
  background-color: #DADADA;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.input-style {
            width: 100%;
            border: 1px solid #e5e7eb;
            border-radius: 8px;
            padding: 8px 12px;
            outline: none;
          }
          .input-style:focus {
            ring: 2px;
            border-color: #a3e635;
          }